.button {
  text-transform: uppercase;
  font-size: 1.5rem;
  min-width: 50px;
  height: 46px;
  color: var(--text-color);
  background-color: transparent;
  padding: 12px 24px;

  &:hover {
    color: #000;
    background-color: #ccc;
    cursor: pointer;
  }
}

.icon + .title,
.title + .icon {
  margin-left: 4px;
}

// header
.more-item {
  display: block;
  color: #000;
  // text-align: start;
  text-transform: none;
  min-width: 160px;
  height: 38px;
  padding: 8px 16px;
}

.search-icon {
  &:hover {
    color: var(--text-color);
    background-color: #f44336;
  }
}
