.slider {
  // background: url('https://www.w3schools.com/w3images/chicago.jpg') top center /
  // cover no-repeat;
}

.image {
  position: relative;
  margin-top: 46px;
  width: 100%;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
